snippet desc
describe('$1', function () {
	it('$2', function () {
		$0
	});
});
endsnippet

snippet con
context('$1', function () {
	it('$2', function () {
		$0
	});
});
endsnippet

snippet it
it('$1', function () {
	$0
});
endsnippet

snippet bef
beforeEach(function () {
	$0
});
endsnippet
